body {background-color:black; font-family:Arial, Helvetica, sans-serif ;
     color: white;}

 h1{color:grey;}

 div.maindiv{ background-color: white; color: black; width: 420px;  padding: 20px ; margin: auto; border-radius: 15px; }


