body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:white;
    color:black;
    width:550px;
    padding:20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    margin: auto;    
   
}



.maindivcontent {
   display:inline-block;
   text-align: left;

}
.footer {
    background-color: white;
    margin: auto;
    text-align: center;
    color: black;
    width: 550px;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

