html {
  font-size: 62.5%;
}
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
section {
  background-color: #fff;
  border-radius: 3rem;
  padding: 2rem 1.5rem;
  width: 80%;
  margin: auto;
}
p {
  font-size: 2rem;
}
h1 {
  font-size: 4.2rem;
  color: grey;
  font-family: verdana;
}
.slidecontainer {
  width: 100%;
  display: inline;
}
p.label {
  display: inline-block;
  width: 12.5rem;
}
div.info {
  padding-left: 8rem;
  margin-bottom: 2.6rem;
}
label {
  width: 12.5rem;
}
span.wrapper {
  margin: -1.5rem 0;
  display: block;
}
button {
  margin: 1.6rem 0;
}
p#ir_output {
  display: inline;
}
#slider_val {
  width: 17.5rem;
}
#principal,
#years,
button {
  padding: 5px;
  font-size: 1.7rem;
}
