body {
  background-color: black;
  font-family: Arial;
  color: white;
}
h1 {
  color: gray;
  font-family: Verdana;
}
.maindiv {
  background-color: white;
  color: black;
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
}
