body {background-color:black; font:arial; color:white}
h1{color:grey; font:verdana;}
.maindiv{background-color:white; color:black; width:300px;
padding:20px; border-radius:25px; margin:0 auto; }
mark {
  background-color: yellow;
}

