body 
{
    background-color: #000000;
    color: #ffffff;
    font-family: Arial;
}

h1
{
    color: grey;
    font-family: Verdana;
}

.maindiv
{
    background-color: #ffffff;
    color: #000000;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

