body {
    background-color:black;
    font-family:arial;
    color:white;
}

h1{
    color:grey;
    font-family:verdana;
}

.maindiv{
    background:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    margin:auto
}

.highlight{
    background-color: yellow;
}