body {
    background-color:black;
    font-family:arial;
    color:white;
}

h1 {
    color:grey;
    font-family:verdana;
}
.maindiv{
    background:white;
    color:black;
    width: 300px;
    padding: 20px;
    border: 25px;
    align: center;
}   


