body {background-color:black; font-family:arial; color:white;}
h1{color:grey;font-family:verdana;}
.maindiv{
    background-color:white;
    color:black;.
    margin:auto;
    width:500px;
    padding:20px;
    border-radius:25px;
}
.compute{
    background-color:yellow;
}
.second{
    margin-left:90px;
}


