body {
    background-color:black;
    font:arial;
    color:white;
}
h1{
    color:gray;
    font:verdana;
}
.maindiv{
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    /* display:flex; */
    text-align:center;
}


