body {background-color:black;
	color:white;
	font:arial;
}

h1 {color:grey;
	font:verdana;
	padding: 0px 10px;
}

.maindiv { 
    background-color:white;
	color:black;
	width:400px;
	padding:20px;
	border-radius:25px;
    alignment:center;
	margin:auto;
	line-height:normal;
}

#mainform { margin:auto; 
	line-height:30px;
	display:table;
}

#mainform p { display: table-row; 
}

#mainform label { display:table-cell
}

.result { display:none;
}

footer {padding: 0px 10px;
	padding-top:10px;
}
