body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.mandiv{
    background-color:white;
    color:black;
    padding:20px;
    width:300px;
    border-radius:25px;
    align:center

}


