/*background color and title color*/
body {background-color:black; font-family:arial; color:white}
h1{color:grey;font-family:verdana}

/*--div/body of text formating*/
.maindiv
{
  border-radius:25px;
  background-color:white; 
  padding:20px;
  color:black;
  width:300px; 
  margin:auto;
}
