body {background-color:black;font-family:arial;color:white}
h1{color:gray;font-family:verdana}

.maindiv {
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    margin:auto;
    text-align:center;
}
