body {
    background-color:black;
    color: white;
    font-family: Arial;
}

h1 {
    color: grey;
    font-family: Verdana;
}

.maindiv {
    background-color: white;
    color: black;
    width: 550px;
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.contents {
    margin-left: 80px;
}

table td {
    padding-bottom: 10px;
}

#compute
{
    margin-bottom: 10px;
    background-color: lightblue;
    color: white;
    height: 40px;
    width: 325px;
}
#principal{
    height: 25px;
    width: 190px;
}

#years {
    height: 35px;
    width: 200px;
}

.footer {
    margin-top: 10px;
}

.labels {
    width: 120px;
}

.highlight {
    background-color: lightblue;

}
