body {
    background-color:black;
    font-family: arial; 
    color:white;
    }
h1{
    color:grey;
    font-family: verdana;
    }
.maindiv{
    background-color: white;
    width: 300px;
    color: black;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}
#result{
    color: red;
}
footer{
    text-align: center;
}


