body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv {
  background-color:white; 
  color:black;
  width: 300px
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 25px;
  
  }





