body {background-color:black;font-family:arial;color:white;margin: 0 auto;}
h2{color:grey;font-family:verdana;}
.maindiv {
    background-color:white;
    color:black;
    width:400px;
    padding:20px;
    border-radius:25px;
    margin: 0 auto;

}
