body {
    background-color: black;
    margin: 0;
}

h1 {
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
    display: table;
}

.subdiv {
    margin-left: 80px;
}

.subdiv label {
    font-style: bold;
}

.footer {
    font-size: x-large;
}

#input-principal {
    margin: 50px;
}

#input-rate {
    margin-left: 70px;
    margin-bottom: 0;
}

#input-year {
    margin: 20px;
}
