body {
    background-color:black;
    font-family: arial;
    color: white;
}
h1{
    color:green;
    font-family:verdana;
}
.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border: 25px;
    text-align: center;
}
