body {background-color:black;font-family:arial;color:black}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:white;
    font:black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
     text-align: center;
}


