body {background-color:black;font-family:arial;color:white}
h1{color:gray;font-family:verdana}
.maindiv{
    background-color:white;
    color:black;
    width:400px;
    border-radius:25px;
    align:center;
}



